[user]
	name = caesar.tsai
	email = caesar.tsai@tgc-taiwan.com.tw

[core]
#	editor = code --wait
	autocrlf = input
	ignorecase = false
	editor = vim

[merge]
#	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
	tool = vscode

# git difftool -y Other Target
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[alias]
	ch = checkout
	br = branch
	st = status
	co = commit --date=now
	l = log --oneline --graph

[url "ssh://git@gitlab.svc.litv.tv/"]
	insteadOf = https://gitlab.svc.litv.tv/
